 <%#debugger%> 
<a href="/users/new">create new user</a>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
     <th>Information</th>
     <th> Edit </th>
  </tr>
 <% @users.each do |user| %>
 <%#debugger%>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email%></td>

  <td><%= link_to "View", "/users/#{user.id}" %> </td>
  
  <td><%= link_to "Edit", "/users/edit/#{user.id}" %> </td>

  </tr>
  <%end%>
</table>