<h2> User Information </h2>

<h3>Name - <%= @user.name %></h3>
<h3>email - <%= @user.email %></h3>
<h4>address - <%= @user.address %></h3>

<h1></h1>

<h4><%= link_to "Go to Users", "/users" %>  </h4>